* {
    padding: 0;
    margin: 0;
}

body {
    background-color: grey;
}

header {
    position: sticky;
    top: 0px;
    background-color: black;
    width: 100%;
    border: 2px solid rgb(156, 41, 65);
    z-index: 10;
}

.enlace {
    position: absolute;
    padding: 20px 25px;
}

.logo {
    height: 40px;
    height: 80px;
}

nav ul {
    float: right;
    /* comentado por gonzalo
    margin-right: 20px;
    */
}

nav ul li {
    display: inline-block;
    list-style-type: none;
	line-height: 35px;
    /*
    line-height: 80px; -> comemntado por gonzalo
    margin: 0px 20px
    */
}

nav ul li a {
    color: aliceblue;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
	margin:10px 0;
    padding: 7px 13px;
    text-transform:uppercase;
}

nav ul li a.activo {
	background: transparent!important;
}

nav li a.activo, nav li a:hover {
    background-color: rgb(156, 41, 65)!important;
    border-radius: 10px;
}

nav ul li a.activo:hover {
    background-color: rgb(156, 41, 65)!important;
    border-radius: 10px;
}

nav li:hover {
    transition: all .3s linear;
    transform: scale(1.1);
}

.checkbtn {
    font-size: 30px;
    color: aliceblue;
    float: right;
    line-height: 80px;
    margin-right: 25px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.cabecera {
}

.texto {
	/*
    position: relative;
    */
    color: aliceblue;
    padding: 10px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.403);
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
}

.monumentos {
    width: auto;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

.monumentos div {
    overflow: visible;
    box-shadow: 0px 0px 20px black;
    color: aliceblue;
    font-size: 17px;
    border-radius: 10px;
	max-width: 600px;
	height:300px;
}

.monumentos p {
	display:none;
}

/*
.monumentos div:hover {
    height: 500px;
	overflow:visible;
    transition: 1s;
}*/

.monumentos div img {
	object-fit:cover;
	width:100%;
	height:100%;
}

.monumentos div p {
	overflow:visible;
}

.estatuas h2 {
    text-align: center;
    color: aliceblue;
    background-color: rgb(156, 41, 65);
    margin: 20px 200px;
    border-radius: 10px;
    padding: 5px;
    text-shadow: 0px 0px 10px black;
    box-shadow: 0px 0px 15px black;
}

.contenedor-carrusel {
    width: 50%;
	max-width: 500px!important;
    margin: auto;
    box-shadow: 0px 0px 20px black;
}

#carrusel h2{
    text-align: center;
    color: aliceblue;
    background-color: rgb(156, 41, 65);
    margin: 20px 400px;
    border-radius: 10px;
    padding: 5px;
    text-shadow: 0px 0px 10px black;
    box-shadow: 0px 0px 15px black;
}

.carousel-item img {
	max-height: 500px;
	object-fit: cover;
}

.carousel-item p {
    border: 3px solid black;
    background-color: rgba(156, 41, 66, 0.653);
    border-radius: 10px;
    width: 230px;
    font-size: large;
    font-weight: bold;
    margin: auto;
}

.parrafo {
    margin: auto;
    text-align: center;
    color: aliceblue;
    border: 1px solid black;
    background-color: rgba(156, 41, 66, 0.653);
    box-shadow: 0px 0px 15px black;
}

.parrafo p {
    text-shadow: 0px 0px 10px black;
    text-indent: 20px;
}

.parrafo h3 {
    color: black;
    font-weight: bold;
}

.contenedor-formulario {
    background-color:  rgba(156, 41, 66, 0.653);
    max-width: 600px;
    margin: 50px auto;
    padding: 10px;
    border-radius: 10px;
    padding: 30px 30px 10px 30px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 0px 30px 5px black;
}

.mapa {
    display: flex;
}

.mapa .mapita {
    margin: 50px auto;
    box-shadow: 0px 0px 15px black;
    background-color: rgba(156, 41, 66, 0.653);
    border-radius: 10px;
    box-shadow: 0px 0px 30px 5px black;
}

.mapita {
	max-width:690px;
}

.mapita iframe {
    border-radius: 10px;
    padding: 1px;
}

.mapa p {
    padding-top: 20px;
    text-align: center;
    color: aliceblue;
    font-size: 30px;
    font-weight: bolder;
}

.contenedor-formulario h2 {
    text-align: center;
    color: aliceblue;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: bolder;
}

.contenedor-formulario .elemento {
    position: relative;
}

.contenedor-formulario .elemento label {
    position: absolute;
    left: 0px;
    top: 17px;
    font-size: 17px;
    transition: 0.3s linear;
    color: aliceblue;
}

.contenedor-formulario .elemento input {
    width: 100%;
    padding: 20px 0px 5px 0px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid white;
    margin-bottom: 30px;
    color: aliceblue;
    outline: none;
    font-size: large;
}

.contenedor-formulario .elemento input[type="submit"] {
    background-color: deeppink;
    border: none;
    padding: 10px;
    color: azure;
    font-size: larger;
    margin-top: 20px;
    font-weight: bolder;
    letter-spacing: 3px;
    cursor: pointer;
    border-radius: 10px;
}

.contenedor-formulario p {
    color: aliceblue;
    text-align: center;
}

.contenedor-formulario p a {
    color: rgb(246, 102, 215);
    text-decoration: none;
    font-weight: bold;
}


.elemento input:focus ~ label, 
.elemento input:valid ~ label {
    top: -10px;
    font-size: 15px;
    color: rgb(246, 102, 215);
}

.contenedor-formulario .elemento input[type="submit"]:hover {
    background-color: azure;
    color: deeppink;
}

.contenedor-formulario .elemento textarea {
    resize: none;
}

footer {
    position:relative;
    margin-top: 230px;
    bottom: 0px;
    width: 100%;
    height: 130px;
    background-color: black;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding: 7px 0px 0px 0px;
}

footer ul li {
    list-style-type: none;
    color: aliceblue;
}

footer ul a {
    text-decoration: none;
    font-size: 30px;
    color: aliceblue;
}

footer ul a:hover {
    color: rgb(250, 124, 192);
}

footer p:first-child {
    color: aliceblue;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding-top: 3px;
    background-color: rgba(156, 41, 66, 0.653);
    letter-spacing: 2px;
}

#propiedad {
    color: aliceblue;
    font-size: 10px;
    text-align: end;
    margin-right: 5px;
}

#titulo-precios {
    text-align: center;
    color: aliceblue;
    background-color: rgb(156, 41, 65);
    margin: 20px 100px;
    border-radius: 10px;
    padding: 5px;
    text-shadow: 0px 0px 10px black;
    box-shadow: 0px 0px 15px black;
}

#precios {
    text-align: center;
    color: aliceblue;
    background-color: rgb(156, 41, 65);
    width: 300px;
    margin: 20px auto;
    border-radius: 10px;
    padding: 5px;
    text-shadow: 0px 0px 10px black;
    box-shadow: 0px 0px 15px black;
    font-size: 30px;
}

.precios-tours {
    display: flex;
    justify-content: space-evenly;
    margin: 35px 0px;
}

.precios-tours div {
    overflow: hidden;
    box-shadow: 0px 0px 10px black;
    color: aliceblue;
    font-size: 17px;
    text-align: center;
    border-radius: 10px;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    text-shadow: 0px 0px 10px black;
}

.precios-tours div:hover {
    box-shadow: 0px 0px 20px black;
    transform: scale(1.05);
}

.precios-tours div p {
    font-size: 30px;
    margin-top: 60px;
}

.precios-tours div .descuento {
    font-size: 35px;
    font-weight: bolder;
}

#precio-final {
    text-align: center;
    color: aliceblue;
    background-color: rgb(156, 41, 65);
    border-radius: 10px;
    padding: 5px;
    text-shadow: 0px 0px 10px black;
    box-shadow: 0px 0px 15px black;
    font-size: 30px;
    width: 300px;
    margin: auto;
}

.form-tour {
    display: flex;
    justify-content: center;
    max-width: 600px;
    margin: 40px auto;
    color: aliceblue;
    background-color:  rgba(156, 41, 66, 0.653);
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px black;
}

.form-tour div {
    width: 600px;
    margin: 10px 0px;
    padding: 20px;
}

.form-tour form div input {
    width: 100%;
    padding: 4px;
    margin-top: 10px;
    border-radius: 10px;
}

.botoncito {
    margin-bottom: 20px;
    padding: 3px;
    width: 110px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: deeppink;
    color: aliceblue;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

.botoncito:hover {
    background-color: azure;
    color: deeppink;
}

@media screen and (min-width: 750px) and (max-width: 950px) {	
	.estatuas {
		height:500px;
	}
	
	/*
	.monumentos div:hover{		
		height:600px;
		transition: 1s;
	}*/
}


@media (max-width: 750px) {
    
    /* Este codigo es para un menu lateral */

    /* .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.663);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        
    }

    nav ul li {
        display: block;
        margin: 50px 0px;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    li a:hover, li a.active {
        background: none;
        color: red;
    }

    #check:checked ~ ul {
        left: 0;
    }
    
    .cabecera {
        width: 100%;
        height: 500px;
    } */


    /* Este codigo es para un menu que aparece desde arriba */

    .checkbtn {
        display: block;
    }

    header label {
        visibility: visible;
        opacity: 1;
    }

    header {
        position: sticky;
    }

/*
    header ul {
        position: absolute;
        width: 200px;
        font-size: 12px;
        top: 100%;
        left: 0%;
        background: rgba(0, 0, 0, 0.583);
        padding: 10px 10px;
        border-top: 1px solid rgb(0, 0, 0, 0.2);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        transform-origin: top;
        transform: scale(0);
        opacity: 0;
        transition: 0.2s linear;
    }*/

	nav ul li a {
		padding: 7px 13px!important;
	}

    nav li a:hover {
        background-color: rgb(156, 41, 65);
        border-radius: 10px;
        transition: 0.5s;
    }

    header ul li {
        display: flex;
        flex-direction: column;
        text-align: center;
        line-height: 50px;
    }

    header input:checked ~ ul {
        transform: scale(1);
        opacity: 1;
        z-index: 1;
    }

    .texto {
        top: 5px;
        left: 51%;
        color: aliceblue;
        width: 200px;
        border: 3px solid black;
        text-align: center;
        font-size: 15px;
    }

    .estatuas h2 {
        margin: 20px 10px;
    }

/*
    .monumentos div {
        width: 130px;
        height: 150px;
        font-size: 13px;
    }*/

/*
    .monumentos div img {
    width: 100%;
    height: 150px;
    object-fit: cover;
	}*/

/*
    .monumentos div:hover {
        height: 350px;
        transition: 1s;
    }*/

    nav li:hover {
        transition: all .3s linear;
        transform: scale(1.05);
    }

    .contenedor-carrusel {
        width: 100%;
    }

	.carousel-inner{
		max-width: 500px;
		}

	.carousel-item img {
	}

    .carousel-item img {
        height: 400px;
    }

    #carrusel h2 {
        margin: 20px 10px;
    }

    .carousel-item p {
        width: 200px;
        font-size: 14px;
        font-weight: bold;
    }

    .parrafo {
        width: 95%;
        margin: auto;
        margin: 10px auto 0px;
    }

    .contenedor-formulario {
        margin: 20px 10px;
    }

    .contenedor-formulario .elemento textarea {
        width: 330px;
    }
    
    .mapa {
        display: flex;
        flex-direction: column;
    }

    .mapita iframe {
        width: 400px;
        height: 400px;
    }

    .mapa p {
        padding-top: 10px;
        font-size: 25px;
        font-weight: bolder;
    }

    footer {
        margin-top: 160px;
    }

    footer li a {
        font-size: 28px;
    }

    .precios-tours {
        height: 150px;
    }

    .precios-tours div {
        width: 130px;
        height: 150px;
        font-size: 13px;
    }

    .precios-tours div p{
        font-size: 16px;
        margin-top: 20px;
    }

    #titulo-precios {
        margin: 20px 10px;
    }

    #precios {
        width: auto;
        margin: 20px 30px;
        font-size: 25px;
    }

    #precio-final {
        width: auto;
        margin: 20px 100px;
        font-size: 20px;
    }
    
    .precios-tours div .descuento {
        font-size: 20px;
        font-weight: bolder;
    }

    .form-tour {
        max-width: 600px;
        font-size: 18px;
        font-weight: bolder;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .form-tour div {
        width: 100%;
        margin: 0px 0px;
        padding: 20px;
    }

    .form-tour form div input {
        width: 100%;
        padding: 3px;
    }
    
    .botoncito {
        padding: 3px;
        width: 110px;
    }

}

@media (max-width: 450px) {
	
	
	.logo_container{
		margin: 5px!important;
	}
	
	.logo {
		margin-bottom: 10px!important;
	}
	
	.vr {
		display:none;
	}

	.precios-tours{
		flex-direction: column!important;
		height:400px;
		align-items: center;
	}
	.precios-tours div {
		width:90%;
		margin: 1px 0 1px 0;
	}
	
	.nav_container {
		flex-direction: column!important;
		align-content:center!important;
	}
	
} 

@media screen and (min-width: 420px) and (max-width: 460px) {
	
}


@media (max-width: 420px) {
	
	.estatuas {	
		margin-bottom: 40px;
	}
	
	#monumentos {
		margin-bottom: 250px;
	}
	
	.carousel-item img{
	}
	
	.monumentos {
		flex-direction: column!important;
		align-items: center!important;
	}
	
	.monumentos div{
		width:75%!important;
		margin-bottom:10px!important;
	}
	
	/*
    .monumentos div:hover {
        transition: 1s;
		overflow: visible;
    }*/
} 

@media (max-width: 390px) {
	.carousel-item img{
		height:200px;
	}
} 

@media (max-width: 335px) {
	.contenedor-formulario h2{
		font-size:20px
	}
} 

@media (max-width: 250px) {
	.contenedor-formulario h2{
		font-size:10px
	}
}